main{background-color:#FFFFFF;font-family: 'Roboto', serif;}



       
     header{font-weight:500;
        font-size:40px;text-align: center;
         padding:40px;border-color:whitesmoke; border:solid 5px;color:white;background-image: url("http://i.imgur.com/pdR6gOb.jpg");background-size: contain;}
img{display: block; margin:auto;}
/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: palegreen;
}

/* selected link */
a:active {
    color: orangered;
}

    
.wrapper {
  width: 600px;
  margin: auto;
}
img { width: 100%; }
